<!-- This launch file initiates AR tag recognition -->

<launch>

	<!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node> -->

	<include file="$(find raspicam_node)/launch/camera_module_v2_640x480_30fps.launch"/>
  <node name="start_capture" pkg="luggo" type="start_capture.py"/>

	<include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
		<arg name="marker_size" value="12.0" />
		<arg name="max_new_marker_error" value="0.08" />
		<arg name="max_track_error" value="0.2" />
		<arg name="cam_image_topic" value="/raspicam_node/image_raw" />
		<arg name="cam_info_topic" value="/raspicam_node/camera_info" />
		<arg name="output_frame" value="raspicam" />
	</include>

</launch>
